services:
  nginx:
    image: nginx:1.27-alpine
    container_name: {{ nginx_container_name }}
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "{{ nginx_docker_root }}/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "{{ nginx_docker_root }}/conf.d:/etc/nginx/conf.d:ro"
      - "/etc/letsencrypt:/etc/letsencrypt:ro"
      - "/var/www:/var/www:ro"
